<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand cheese-logo">
    <%= image_tag("logo.png", :alt => "logo") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Orders", orders_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Restaurant", restaurant_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <class="navbar-wagon-item navbar-wagon-link">  <%= t(".sign_out", default: "Logout") %>
      <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>
