<div class="container">
  <div class="text-center">
    <h1> Your Order </h1>
  </div>
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-xs-12 col-sm-4">
        <img src='<%= order.dish.picture_url %>' class="float-left">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3> Order: <%= order.dish.name %></h3>
        <p> Quantity: <%= order.quantity %></p>
        <p> Restaurant: <%= order.dish.restaurant.name %></p>
        <p> Address: <%= order.dish.restaurant.address %></p>
      </div>
    <% end %>
  </div>
</div>

