<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <img src='<%= @order.dish.picture_url %>' class="img-thumbnail">
        </div>
      </div>
      <div class="text-center">
        <h2> <%= @order.dish.name %> </h2>
        <h3> <%= @order.quantity %> </h3>
        <h3> <%= @order.dish.price %> </h3>
        <h3> <%= @order.dish.restaurant.name %> </h3>
        <h3> <%= @order.dish.restaurant.address %> </h3>
        <div> <a href="#" class="btn btn-warning">Confirm</a> </div>
      </div>
    </div>
  </body>
</html>
