
<%= render 'share/banner' %>
<div class="container">
  <div class="row">
    <% @dishes.each do |dish| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to dish_path(dish) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path dish.photo %>');">
          <div class="card-category"><%= dish.category %></div>
          <div class="card-description">
            <h2><%= dish.name %></h2>
            <p><%= dish.restaurant.name %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

