
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="banner-content">
        <h1>Cheese</h1>
        <p>Your daily meal inspirations</p>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% @dishes.each do |dish| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= dish.picture_url %>');">
              <div class="card-category"><%= dish.category %></div>
              <div class="card-description">
                <h2><%= dish.name %></h2>
                <p><%= dish.restaurant.name %>
              </div>
              <%= link_to "", dish_path(dish) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="far fa-github"></i></a>
        <a href="#"><i class="far fa-instagram"></i></a>
        <a href="#"><i class="far fa-facebook"></i></a>
        <a href="#"><i class="far fa-twitter"></i></a>
        <a href="#"><i class="far fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fa fa-heart"></i> at Le Wagon
      </div>
    </div>
