<html>
  <head>
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="banner-content">
        <h1>Cheese</h1>
        <p>Your daily meal inspirations</p>
        <a class="btn btn-primary btn-lg">Start now</a>
      </div>
    </div>

    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <img src="images/logo.png" alt="logo">
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Host</a></li>
            <li><a href="#">Trips</a></li>
            <li><a href="#">Messagese</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% @dishes.each do |dish| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= dish.picture_url %>');">
              <div class="card-category"><%= dish.category %></div>
              <div class="card-description">
                <h2><%= dish.name %></h2>
                <p><%= dish.description %></p>
              </div>
              <%= link_to "", dish_path(dish) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="footer"></div>
  </body>

</html>
